body{
  background-color : powderblue;
}

hr {
  background-color : powderblue;
  border-style: none;
  border-top: dotted;
  border-color: white;
  border-width: 5%;
}
img {
  height: 100px;
}
