body{
  background-color : powderblue;
}

h1{
  color: green;
}

h3{
  color: yellow;
}

hr {
  background-color : powderblue;
  border-style: none;
  border-top: dotted;
  border-color: white;
  border-width: 5%;
}
img {
  height: 100px;
}
